@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
}
#sharepoint-viewer-app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.panelContainer {
  @apply absolute w-[300px] h-[300px] text-white left-10 
  top-10 z-[1] rounded-md backdrop-blur-lg 
  bg-[#000000bb]   flex-col p-4 gap-4 hidden;
}
.titleContainer {
  @apply text-[24px] font-medium text-center;
}

#ifcList {
  @apply flex flex-col    flex-1 overflow-y-auto;
}
.ifcItem {
  @apply hover:bg-[#1e2427] px-4 py-1 data-[selected=true]:bg-[#1e2427] cursor-pointer;
}
#loadbutton {
  @apply mx-4 rounded-md py-2 bg-[#222a32] px-4 text-center mb-2 cursor-pointer;
}
